VITE_API_URL=http://localhost:8080

VITE_SUPABASE_URL=https://kkrrbpvghhzndiinejhm.supabase.co

VITE_SUPABASE_ANON_KEY=sb_publishable_b5vRZ1_alXeWs8TrEmb5YA_oG3HVECP

VITE_OPENAI_API_KEY=your_openai_api_key_here